* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Hiragino Kaku Gothic ProN", sans-serif;
    color: white;
    background-color: #333333;
}

a {
    text-decoration: none;
    cursor: pointer;
}

header {
    position: fixed;
    z-index: 1;
    height: 60px;
    width: 100%;
    opacity: 0.9;
    background-color: #232323;
}

#navigation {
    text-align: center;
}

.nav {
    color: white;
    font-size: 24px;
    width: 160px;
    line-height: 60px;
    display: inline-block;
    padding: 0 40px;
    transition: all 500ms 0s ease;

    position: relative;
    transition: .3s;
}

.nav::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform-origin: left bottom;
    transform: scale(1, 0);
    transition: transform .3s;
}

.nav-top::before {
    content: "トップ";
    background-color: rgb(0, 220, 220);
}

.nav-about::before {
    content: "私について";
    background-color: #ba00f3;
}

.nav-app::before {
    content: "アプリ";
    background-color: rgb(220, 220, 0);
}

.nav-design::before {
    content: "デザイン";
    background-color: rgb(200, 0, 0);
}

.nav-movie::before {
    content: "動画";
    background-color: rgb(0, 200, 0);
}

.nav:hover::before {
    transform-origin: left top;
    transform: scale(1, 1);
}

.container {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
}

#top {
    text-align: center;
    padding: 120px 120px 40px 120px;
}

#icon {
    height: 400px;
}

h1 {
    font-size: 90px;
    letter-spacing: 10px;
    margin: 0;
}

.fa {
    color: white;
    font-size: 60px;
    padding: 0 20px;
}

.fa-twitter {
    color: aqua;
}

.fa-github {
    color: black;
}

.content {
    text-align: center;
    padding: 40px 120px;
}

h2 {
    font-size: 50px;
    border-bottom: 5px solid white;
    margin-top: 0;
    margin-bottom: 20px;
}

h3 {
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 10px;
}

h4 {
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.content-container {
    position: relative;
    overflow: hidden;
}

.content-box {
    float: left;
    width: 50%;
}

.content-text {
    position: absolute;
    padding-right: 20px;
    padding-left: 20px;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
}

#slide {
    position: relative;
    min-height: 533px;
}

#slide img {
    position: absolute;
    left:50%;
    top:0;
    transform: translateX(-50%);
}

#previous {
    padding: 30px;
    padding-bottom: 0;
}

#previous:hover {
    opacity: 0.3;
}

#next {
    padding: 30px;
    padding-bottom: 0;
}

#next:hover {
    opacity: 0.3;
}

.description {
    text-align: left;
}

.content p {
    margin: 0;
}

iframe {
    padding: 20px;
}


#icon-box img {
    width: 25%;
    padding: 20px;
}