* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Hiragino Kaku Gothic ProN", sans-serif;
    color: white;
}

a {
    text-decoration: none;
}

header {
    position: fixed;
    height: 60px;
    width: 100%;
    opacity: 0.9;
    background-color: #232323;
}

#navigation {
    text-align: center;
}

.nav {
    color: white;
    font-size: 24px;
    width: 160px;
    line-height: 60px;
    display: inline-block;
    padding: 0 40px;
    transition: all 500ms 0s ease;

    position: relative;
    transition: .3s;
}

.nav::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform-origin: left bottom;
    transform: scale(1, 0);
    transition: transform .3s;
}

.nav-top::before {
    content: "トップ";
    background-color: rgb(0, 220, 220);
}

.nav-app::before {
    content: "アプリ";
    background-color: rgb(220, 220, 0);
}

.nav-design::before {
    content: "デザイン";
    background-color: rgb(200, 0, 0);
}

.nav-movie::before {
    content: "動画";
    background-color: rgb(0, 200, 0);
}

.nav:hover::before {
    transform-origin: left top;
    transform: scale(1, 1);
}

.container {
    height: 2000px;
    background-color: #333333;
}

#top {
    text-align: center;
    padding: 120px;
}

#icon {
    height: 400px;
}

h1 {
    font-size: 90px;
    letter-spacing: 10px;
    margin: 0;
}

.fa {
    color: white;
    font-size: 60px;
    padding: 0 20px;
}

.fa-twitter {
    color: aqua;
}

.fa-github {
    color: black;
}